@import './styles/reset.css';
@import './styles/fonts.css';
@import './styles/header.css';
@import './styles/slider.css';
@import './styles/carousel.css';
@import './styles/footer.css';
@import './styles/demo.css';
@import './styles/expand.css';
@import './styles/featured.css';
@import './styles/questions.css';
@import './styles/tiles.css';
@import './styles/welcome.css';
@import './styles/info.css';

body {
  background-color: #F4F5F7;
  font-size: 14px;
}

.main {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: visible;
}

@media (max-width: 720px) {
  .main {
    padding: 0 16px;
  }
}
