.featured {
  background-color: white;
  padding: 60px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  border-radius: 24px;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .featured {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

.featured__subheader {
  font-family: 'San Francisco Pro Display Light Italic';
  font-size: 24px;
  color: #D0021B;
  margin-bottom: 5px;
}

.featured__header {
  font-family: 'San Francisco Pro Display Heavy';
  font-size: 48px;
}

.featured__button {
  font-family: 'San Francisco Pro Display Medium';
  height: 40px;
  width: 240px;
  background-color: rgba(208, 2, 26, 0.1);
  color: #D0021B;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-color: transparent;
  margin-top: 20px;
  transition: all .2s
}

.featured__button:hover {
  background-color: #D0021B;
  color: white;
}

.featured__image-wrapper {
  max-width: 300px;
  position: relative;
}

@media (max-width: 720px) {
  .featured__image-wrapper {
    display: none;
  }
}

.featured__image {
  width: 100%;
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 2px 40px #f7bf4599;
}
