.footer {
  margin: 80px 0 30px;
}

.footer__copy {
  display: block;
  text-align: center;
  color: #969696;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__item {
  color: #D0021B;
  padding: 10px;
}

.footer__item::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #D0021B;
  opacity: .6s;
  transform: scaleX(0);
  transition: transform .2s;
}

.footer__item:hover::after {
  transform: scaleX(1);
}
